@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 60 56% 93%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 60 56% 91%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 120 25% 65%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 16 68% 70%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 120 10% 80%;
    --input: 120 10% 85%;
    --ring: 120 25% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 60 9.1% 97.8%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 120 25% 65%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 16 68% 70%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 120 25% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
